header {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      img {
        max-width: 100%;
        width: 200px;
      }
      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #2c3e50;
        font-weight: bold;
        margin-right: 8px;
        i {
          margin-right: 10px;
          font-size: 20px;
          color: #00BC77;
          
        }
      }
    }
    .connected {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      i, p {
        margin-right: 10px;  
      }
    }
  }