.introduction {
  background-image: url("../assets/bank-tree.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  section {
    background-color: white;
    padding: 2rem;
    text-align: left;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    h2 {
      visibility: hidden;
      margin: 0;
      height: 0;
    }

    .subtitle {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
    }

    p {
      margin-bottom: 0;
      font-size: 0.9rem;
    }
  }
}
