.items {
    display: flex;
    flex-direction: column;
    .item {
      padding: 40px;
      img {
        width: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 16px;
      }
      h3 {
        color: #222;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
  }