.information {
    input {
      width: 180px;
      height: 35px;
      margin: 10px;
    }
    .buttonEdit {
      text-align: center;
      vertical-align: middle;
      margin: 10px;
      width: 130px;
      height: 35px;
    }
  }